# Ignore any new IntelliJ IDEA files
.idea

# Directory of our generated code.
/out

# Downloaded executeable jar. See also README.md in comparing_serialization_deployment/src/me/noitcereon/deployment/README.md
Mario_Nes_60_FPS.jar

# Don't push bytecode...
*.class

deploymentWorker.jar


# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
